.navbar {
  width: screen;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a4c70a;
  color: white  ;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;

  &.active {
    background-color: white;
    color: black;

    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;
    }
  }

  .container {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left_align {
      margin-left: 30px;
      width: 400px;
      display: flex;
      gap: 15px;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 24px;

      .text {
        width: fit-content;
        text-decoration: none;
        color: inherit;

        .logotext {
          // color: white;
          white-space: nowrap;
          font-weight: 600;
        }
      }

      .dot {
        font-weight: bold;
        color: #07703f;
        text-align: center;
      }
    }

    .logo {
      font-size: 34px;
      font-weight: bold;

    }

    .links {
      margin-right: 30px;
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 34px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      .linktext {
        white-space: nowrap;
        width: 160px;
        text-decoration: none;
        color: inherit;
      }

      .signInText{
        text-decoration: none;
        color: inherit;
        width: fit-content;
      }

      // span {
      //   white-space: nowrap;
      // }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;
        width: fit-content;

        .buttonlink{
          width:300px;
        }

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .username {}

        .options {
          position: fixed;
          width: 100px;
          top: 45px;
          right: 40px;
          background-color: white;
          border-radius: 10px;
          padding-left: 15px;
          z-index: 9999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          align-items: center;
          font-weight: 300;
          color: gray;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .optiontext {
          text-align: start;
          text-decoration: none;
          font-size: 14px;
          color: gray;
        }
      }

      a{
        width: fit-content;
      }

      button {
        color: white;
        width: 80px;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: #b14507;
          border-color: #b14507;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 100%;
    margin-left: 35px;
    text-align: center;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-size: small;
    font-family: "Montserrat", sans-serif;
  }
}